html, body {
    overflow-x: hidden;
}
section {
  width: 100%;
  max-width: 1000px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto 50px;
  padding: 0 10px;
}
.logo {
color: #333;
text-align: center;
font-family: 'Droid Sans Mono', sans-serif;
}
a {
  color: #00B7FF;
}
.ms-sel-ctn .ms-sel-item,
.ms-ctn .ms-sel-item {
font-size: 16px;
margin: 10px 10px 1px 0;
cursor: pointer;
}
.ms-sel-ctn .ms-sel-item {
	padding: 0;
}
.ms-sel-item > .item {
display:inline-block;
padding: 7px;
padding-right: 3px;
}
.ms-sel-item > .item span {
	position: relative;
	top: 2px;
}
.ms-res-ctn .ms-res-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ms-res-item > span {
margin-left: 15px !important;
color: #999;
}
.ms-sel-ctn .ms-sel-item .ms-close-btn {
	margin: 0 !important;
	float: none;
	display: inline-block;
	padding-right: 20px;
	background-image: none;
}
.ms-sel-ctn .ms-sel-item .ms-close-btn:hover {
color: #333;
}

.ms-sel-ctn .ms-sel-item .ms-close-btn:after {
	content: 'x';
	padding: 5px;
}
.remove {
	float: right;
}
.ms-sel-ctn {
	margin-top: 10px;
}
.ms-sel-ctn .ms-sel-item .ms-close-btn {
margin: 9px 2px 0 10px;
font-family: cursive;
transition: color 0.3s;
}
.apps .tooltip {
	margin-left:10px;
}
#generatedIcons .tooltip {
    margin-top: 5px;
}
.generate {
	margin: 30px auto 0;
    display: block;
}
#generated {
	visibility: hidden;
	opacity: 0;
	margin: 10px 0;
    text-align: center;
}
#generatedCommand {
	padding: 10px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	background: aliceblue;
	-webkit-box-shadow: inset 0px 0px 20px -7px;
	border-radius: 5px;
	font-size: 20px;
	color: #333;
}
#generatedIcons {
	font-size: 25px;
}
#generatedIcons a {
    padding: 10px;
    display: inline-block;
}
#whenDone {
	background: white;
	border: 1px solid #e5e5e5;
}
.distro > h2,
.distro > h2:before,
.distro > h2:after {
background: #d3d3d3;
}
.apps > h2,
.apps > h2:before,
.apps > h2:after {
background: #adddcf;
}

.icons > h2,
.icons > h2:before,
.icons > h2:after {
background: #fed1be;
}

.themes > h2,
.themes > h2:before,
.themes > h2:after {
background: #f0e9a2;
}
.misc > h2,
.misc > h2:before,
.misc > h2:after {
background: #abe1fd;
}
h2 {
  position: relative;
  color: white;
  padding: 5px 0;
text-align: left;
}
h2:before, h2:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;   /* some huge width */
} 
h2:before {
  right: 100%; 
}
h2:after {
  left: 100%;
}
.type img {
max-width: 100%;
}
.popover a {
	display: block;
	text-align: center;
}
.themes > div {
	display: inline-block;
	text-align: center;
    margin: 10px;
}
.themes {
text-align: center;
}
.themes img {
	display: block;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.icons > div {
	text-align: justify;
}

.icons > div:after{
  content: '';
  display: inline-block;
  width: 100%;
}
input[type=checkbox] {
vertical-align: sub;
}
.misc {
	margin-bottom: 10px;
}
.misc > div {
margin: 5px 0;
}
.type > div span {
	margin-left: 5px;
    font-weight: normal;
}
.noselect:after {
content: '"';
}
footer {
text-align: center;
}
footer a {
padding: 10px;
color: #444;
}
::-moz-selection{
background-color: #bfb1d5;
color: white;
}
::selection {
background-color: #bfb1d5;
color: white;
}

.share {
z-index: 999;
float: right;
right: 0;
}
.share label {
background: none !important;
}
@media (min-width: 1200px) {
  .share {
position: fixed;
}
}